<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:extends="headerFooter">
<head th:insert="headerFooter::head">
    <title> About page</title>
</head>
<body>
<header th:insert="headerFooter:: header"> </header>

<div class="login-container">
    <div> <p class="loginP">SISTEMA WEB FACTURA ELECTRÓNICA SIMPLIFICADA</p> </div>
</div>

<H2> Este es un proyecto en el que permitirá el registro como Proveedores y hacer facturación electrónica de las ventas que hacen a sus Clientes.</H2>

<h2>Integrantes:</h2>
<ul>
    <li>Jairo Castillo Aragón</li>
    <li>Andrey Rodríguez Camacho</li>
    <li>Mauricio Chaves Chaves</li>
    <li>Daniel Cordero Rodriguez</li>

</ul>

<footer th:insert="headerFooter::footer"></footer>
</body>
</html>