<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css" >


</head>
<body>
<main>

<!--    this.idProveedor = idProveedor;-->
<!--    this.nombre = nombre;-->
<!--    this.correoElectronico = correoElectronico;-->
<!--    this.contrasena = contrasena;-->
<!--    this.activo = activo;-->
<!--    this.telefono = telefono;-->
<!--    this.direccion = direccion;-->
<!--    this.tipoProveedor = tipoProveedor;-->
    <div class="wrapper">
        <form name="form" action="/presentation/register/register" method="post">
            <div>
                <h1 class="register-nombre">Register</h1>
                <div class="contendor">
                    <label class="etiqueta">Cedula:</label>
                    <div class="campo"><input type="text" name="idUsuario" id="idUsuario" class="form-control" placeholder="Cedula"></div>
                </div>
                <div class="contendor">
                    <label class="etiqueta">Nombre:</label>
                    <div class="campo"><input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre"></div>
                </div>
                <div class="contendor">
                    <label class="etiqueta">Correo Electrónico:</label>
                    <div class="campo"><input type="text" name="correo_electronico" id="correo_electronico" class="form-control" placeholder="Correo Electrónico"></div>
                </div>
                <div class="contendor">
                    <label class="etiqueta">Contraseña:</label>
                    <div class="campo"><input type="password" name="contrasena" id="contrasena" class="form-control" placeholder="Contraseña"></div>
                </div>
                <input type="hidden" name="activo" value="ESP"> <!-- Valor predeterminado "ESP: Espera" para activo -->
                <div class="contendor">
                    <label class="etiqueta">Teléfono:</label>
                    <div class="campo"><input type="tel" name="telefono" id="telefono" class="form-control" placeholder="Teléfono"></div>
                </div>
                <input type="hidden" name="rol" value="PROV"> <!-- Valor predeterminado "PROV: Prorveedor" para rol -->
                <button type="submit" class="btn btn-login" name="register">Register</button>
            </div>
        </form>
    </div>


</main>

</body>
</html>
