<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:extends="headerFooter">
<head th:insert="headerFooter::head">
    <meta charset="UTF-8">
    <title>Registro</title>
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}" type="text/css" >

</head>
<body>
<header th:insert="headerFooter:: header"> </header>
<main>

<!--    this.idProveedor = idProveedor;-->
<!--    this.nombre = nombre;-->
<!--    this.correoElectronico = correoElectronico;-->
<!--    this.contrasena = contrasena;-->
<!--    this.activo = activo;-->
<!--    this.telefono = telefono;-->
<!--    this.direccion = direccion;-->
<!--    this.tipoProveedor = tipoProveedor;-->
    <div class="container">
        <form th:action="@{/presentation/register/register}" method="post">
            <h1 class="register-nombre">Registro</h1>
            <div class="form-group">
                <label for="idUsuario" class="etiqueta">Cedula:</label>
                <input type="text" class="form-control" id="idUsuario" name="idUsuario" required>
            </div>
            <div class="form-group">
                <label for="nombre" class="etiqueta">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="correo_electronico" class="etiqueta">Correo Electrónico:</label>
                <input type="email" id="correo_electronico" name="correo_electronico" required>
            </div>
            <div class="form-group">
                <label for="contrasena" class="etiqueta">Contraseña:</label>
                <input type="password"  id="contrasena" name="contrasena" required>
            </div>
            <input type="hidden" name="activo" value="ESP">
            <div class="form-group">
                <label for="telefono" class="etiqueta">Teléfono:</label>
                <input type="tel" pattern="[0-9]*"  id="telefono" name="telefono" required>
            </div>
            <input type="hidden" name="rol" value="PROV">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>

    </div>


</main>
<footer th:insert="headerFooter::footer"></footer>
</body>
</html>
