<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:extends="headerFooter">
<head th:insert="headerFooter::head">
    <title> Editar perfil</title>
<body>
<header th:insert="headerFooter::header"></header>

<table>
    <tr>
        <td><h2>Nombre:</h2></td>
        <td><h2 th:text="${session.usuario.nombre}"/></td>
    </tr>
    <tr>
        <td><h2>Correo electronico:</h2></td>
        <td><h2 th:text="*{session.usuario.correoElectronico}"/></td>
    </tr>
    <tr>
        <td><h2>Activo:</h2></td>
        <td><h2 th:text="*{session.usuario.activo}"/></td>
    </tr>
    <tr>
        <td><h2>Telefono: </h2></td>
        <td><h2 th:text="*{session.usuario.telefono}"/></td>
    </tr>
    <tr>
        <td><h2>Rol:</h2></td>
        <td><h2 th:text="*{session.usuario.rol}"/></td>
    </tr>

    <tr>
        <td>
            <a th:href="@{/proveedor/Controller/editar/{id}(id=${session.usuario.idUsuario})}">Editar</a>
<!--                <a th:href="@{/proveedor/Controller/editar?id=${session.usuario.idUsuario}}">Editar</a>-->
        </td>
        <td>
            <a th:href="@{/}" class="link">Ir a la página de inicio</a>
        </td>

    </tr>
</table>

<footer th:insert="headerFooter::footer"></footer>
</body>
</html>