<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:extends="headerFooter">
<head th:insert="headerFooter::head">
<body>
<header th:insert="headerFooter:: header"> </header>

    <h1>proveedores view</h1>
<!--    <header >-->
<!--        <nav>-->
<!--            <ul>-->
<!--                <li><a th:href="@{/about}">Acerca de</a></li>-->
<!--                <li><a th:href="@{/facturar}">Facturar</a></li>-->
<!--                <li><a th:href="@{/presentation/cliente/register}">Clientes</a></li>-->
<!--                <li><a th:href="@{/presentation/producto/register}">Productos</a></li>-->
<!--                <li><a th:href="@{/facturas}">Facturas</a></li>-->
<!--                <li><a th:href="@{/editar-usuario}" th:text="${nombreUsuario}">Editar Usuario</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </header>-->
<footer th:insert="headerFooter::footer"></footer>

</body>
</html>