<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:extends="headerFooter">
<head th:insert="headerFooter::head">
<body>
<header th:insert="headerFooter:: header"> </header>
<div class="login-container">
    <div> <p class="loginP">Lista de Clientes</p> </div>
<div class="centered">

    <table>
        <tr>
            <th>ID</th>
            <th>Proveedor</th>
            <th>Cliente</th>
            <th>Cantidad</th>
            <th>DATE</th>
            <th>Total</th>
            <th>Detalles</th>
            <th>PDF</th>
            <th>XML</th>
        </tr>
        <tr th:each="f, stat : ${facturas}">
            <td th:text="${f.facturaId}"/>
            <td th:text ="${proveedoresNombres[stat.index]}"/> <!-- Accede al nombre del proveedor -->
            <td th:text="${clientesNombres[stat.index]}"/> <!-- Accede al nombre del cliente -->
            <td th:text="${f.cantidad}"/>
            <td th:text="${f.fecha}"/>
            <td th:text="${f.total}"/>
            <td><a href="#"> <img class="logosPequenios" th:src="@{/images/detalles.png}" th:alt="detalles.png">  </a> </td>
            <td><a href="#"> <img class="logosPequenios" th:src="@{/images/pdf.png}" th:alt="pdf.png">  </a> </td>
            <td><a href="#"> <img class="logosPequenios" th:src="@{/images/xml.png}" th:alt="xml.png">  </a> </td>
        </tr>
<!--        <td th:text ="${f.idProducto}"/>-->
    </table>
</div>



<footer th:insert="headerFooter::footer"></footer>
</body>
</html>