<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:extends="headerFooter">
<head th:insert="headerFooter::head">
<body>
<header th:insert="headerFooter:: header"> </header>
<h1>LISTADO DE FACURAS</h1>
<div class="centered">
    <table>
<!--        CREATE TABLE factura (-->
<!--        factura_id INT not null auto_increment,-->
<!--        fecha DATE,-->
<!--        total float,-->
<!--        cantidad int,-->
<!--        cliente VARCHAR(12),-->
<!--        proveedor VARCHAR(12),-->
<!--        id_producto int,-->
<!--        constraint Pk_facturas primary key (factura_id),-->
<!--        constraint Fk1_facturas foreign key (cliente) references cliente (cliente_id),-->
<!--        constraint FK2_facturas foreign key (proveedor) references usuario (id_usuario),-->
<!--        constraint FK3_facturas foreign key (id_producto) references producto (producto_id)-->
<!--        );-->
        <tr>
            <th>ID</th>
            <th>Cantidad</th>
            <th>DATE</th>
            <th>total</th>
            <th>cliente Id</th>
            <th>proveedor Id</th>
            <th>producto Id</th>
            <th>...</th>
        </tr>
        <tr th:each="f : ${facturas}">
            <td th:text="${f.facturaId}"/>
            <td th:text="${f.cantidad}"/>
            <td th:text="${f.fecha}"/>
            <td th:text="${f.total}"/>
            <td th:text ="${f.cliente}"/>
            <td th:text ="${f.proveedor}"/>
            <td th:text ="${f.idProducto}"/>
        </tr>
    </table>
</div>



<footer th:insert="headerFooter::footer"></footer>
</body>
</html>