<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:extends="headerFooter">
<head th:insert="headerFooter::head">
<body>
<header th:insert="headerFooter:: header"> </header>

<div class="login-container">
    <div> <p class="loginP">Facturar</p> </div>
</div>
<div class="centered">
        <table>

                    <tr>
                        <td colspan="7">Proveedor:
                            <b> <span th:text="${session.proveedorName}"></span> </b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">Cliente:
                            <span th:text="${session.clienteNombre}"></span>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/presentation/cliente/findById}" method="get" id="form-cliente">
                                <input type="text" name="clienteId" id="clienteId" placeholder="Ingrese ID del cliente">
                            </form>
                        </td>
                        <td>
                            <button type="submit" form="form-cliente">🔍</button>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="5">
                            <label>Codigo: </label>

                        </td>
                        <td>
                            <form th:action="@{/presentation/producto/findByCodigo}" method="get" id="form-prod">
                                <input type="text" name="codigoId" id="codigoId" placeholder="Codigo del producto">
                            </form>
                        </td>
                        <td>
                            <button type="submit" form="form-prod">➕</button>
                        </td>
                    </tr>
                    <tr th:if="${mensaje != null}">
                        <td th:text="${mensaje}" style="color: red;"></td>
                    </tr>

            <tr>
                <th>Eliminar: </th>
                <th>Codigo: </th>
                <th>Nombre: </th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Monto</th>
                <th>Cantidad</th>
            </tr>
            <tr th:each="p : ${productos}">
                <td>...</td>
                <td th:text="${p.codigo}"></td>
                <td th:text="${p.nombre}"></td>
                <td th:text="${p.descripcion}"></td>
                <td th:text="${p.precio}"></td>
                <td th:text="${p.total}"></td>
            </tr>

          <tr>
            <td colspan="7"><form action="/presentation/facturas/add" method="post">
                <button type="submit">Facturar</button>
             </form>  </td>
          </tr>
        </table>

</div>

<footer th:insert="headerFooter::footer"></footer>

</body>
</html>